@model IEnumerable<Gip.Models.Room>
    <Gip.Models.Room>
        @{
            ViewData["Title"] = "Index";
        }
        <h1>Overzicht van de lokalen</h1>
        @if (ViewBag.error == "addError")
         {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error: lokaal is niet toegevoegd</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         }

        @if (ViewBag.error == "editError")
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error: lokaal is niet aangepast</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (ViewBag.error == "deleteError")
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error: lokaal is niet verwijdert</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (ViewBag.error == "deleteGood")
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error: lokaal is niet verwijdert</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (ViewBag.error == "addGood")
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Lokaal is toegevoegd</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (ViewBag.error == "editGood")
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Lokaal is aangepast</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }




        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong" style="float:right">Lokaal toevoegen</button>

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Een lokaal toevoegen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/lokaal/add" method="post">
                            <div class="form-group">
                                <label for="gebouw" class="col-form-label">Gebouw:</label>
                                <input  type="text" required="required" class="form-control" id="gebouw" placeholder="Bv. A,B..." name="gebouw">
                            </div>
                            <div class="form-group">
                                <label for="verdiep" class="col-form-label">Verdieping:</label>
                                <input required="required"  type="number" max="3" class="form-control" id="verdiep" placeholder="Bv. 1,2,3.." name="verdiep">
                            </div>
                            <div class="form-group">
                                <label for="nummer" class="col-form-label">Nummer:</label>
                                <input required="required" type="text" class="form-control" id="nummer" placeholder="Bv. 01K,25.." name="nummer">
                            </div>
                            <div class="form-group">
                                <label for="type" class="col-form-label">Type:</label>
                                <input required="required" type="text" class="form-control" id="type" placeholder="Bv. Aula,Vergaderlokaal,Computerlokaal" name="type">
                            </div>
                            <div class="form-group">
                                <label for="capaciteit" class="col-form-label">Capaciteit:</label>
                                <input required="required" type="number" max="250" class="form-control" id="capaciteit" placeholder="Bv. 100..." name="capaciteit">
                            </div>
                            <div class="form-group">
                                <label for="middelen" class="col-form-label">Middelen?</label>
                                <select id="middelen" class="form-control" name="middelen">
                                    <option value="Wifi/Projectorsetup/Scherm">Wifi/Projectorsetup/Scherm</option>
                                    <option value="Wifi/Schermen">Wifi/Schermen</option>
                                    <option value="Wifi/Projectorsetup">Wifi/Projectorsetup</option>
                                    <option value="Projectorsetup/Scherm">Projectorsetup/Scherm</option>
                                    <option value="Projectorsetup/Schermen">Projectorsetup/Schermen</option>
                                    <option value="Wifi/Scherm">Wifi/Scherm</option>
                                    <option value="Wifi/Projectorsetup">Wifi/Projectorsetup</option>
                                    <option value="Wifi">Wifi</option>
                                    <option value="Projectorsetup">Projectorsetup</option>
                                    <option value="Scherm">Scherm</option>
                                    <option value="Schermen">Schermen</option>
                                    <option value="Geen middelen">Geen middelen</option>

                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Voeg lokaal toe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>





        <table class="table table-bordered table-hover table-striped">
            <tr>

                <th>Lokaal</th>
                <th>Type</th>
                <th>Capaciteit</th>
                <th>Middelen</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            @foreach (var lokaal in Model)
            {
                <tr>
                    <td>@lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer </td>
                    <td>@lokaal.Type</td>
                    <td>@lokaal.Capaciteit</td>
                    <td>@lokaal.Middelen</td>



                    <td>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal-@lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer">Delete</button>
                        <div class="modal fade" id="deleteModal-@lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Een lokaal verwijderen</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/lokaal/delete" method="post">
                                            <div>
                                                <input type="text" name="lokaalId" style="display: none" value="@lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer">
                                            </div>
                                            Ben je zeker dat je lokaal @lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer wilt verwijderen?
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-sm btn-danger">Verwijder lokaal</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#editModal-@lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer">Edit</button>
                        <div class="modal fade" id="editModal-@lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Lokaal wijzigen?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/lokaal/edit" method="post">
                                            <div>
                                                <input type="text" name="lokaalId" style="display: none" value="@lokaal.Gebouw.Trim()@lokaal.Verdiep@lokaal.Nummer">
                                            </div>
                                            <div class="form-group">
                                                <label for="gebouw" class="col-form-label">Gebouw:</label>
                                                <input required="required" type="text" class="form-control" id="gebouw" name="gebouw" value="@lokaal.Gebouw">
                                            </div>
                                            <div class="form-group">
                                                <label for="verdiep" class="col-form-label">Verdieping:</label>
                                                <input required="required" type="number" max="3" class="form-control" id="verdiep" name="verdiep" value="@lokaal.Verdiep">
                                            </div>
                                            <div class="form-group">
                                                <label for="nummer" class="col-form-label">Nummer:</label>
                                                <input required="required" type="text" class="form-control" id="nummer" name="nummer" value="@lokaal.Nummer">
                                            </div>
                                            <div class="form-group">
                                                <label for="type" class="col-form-label">Type:</label>
                                                <input required="required" type="text" class="form-control" id="type" name="type" value="@lokaal.Type">
                                            </div>
                                            <div class="form-group">
                                                <label for="capaciteit" class="col-form-label">Capaciteit:</label>
                                                <input required="required" type="number" max="250" class="form-control" id="capaciteit" name="capaciteit" value="@lokaal.Capaciteit">
                                            </div>
                                            <div class="form-group">
                                                <label for="middelen" class="col-form-label">Middelen?</label>
                                                <select id="middelen" class="form-control" name="middelen">
                                                    <option value="Wifi/Projectorsetup/Scherm">Wifi/Projectorsetup/Scherm</option>
                                                    <option value="Wifi/Schermen">Wifi/Schermen</option>
                                                    <option value="Wifi/Projectorsetup">Wifi/Projectorsetup</option>
                                                    <option value="Projectorsetup/Scherm">Projectorsetup/Scherm</option>
                                                    <option value="Projectorsetup/Schermen">Projectorsetup/Schermen</option>
                                                    <option value="Wifi/Scherm">Wifi/Scherm</option>
                                                    <option value="Wifi/Projectorsetup">Wifi/Projectorsetup</option>
                                                    <option value="Wifi">Wifi</option>
                                                    <option value="Projectorsetup">Projectorsetup</option>
                                                    <option value="Scherm">Scherm</option>
                                                    <option value="Schermen">Schermen</option>
                                                    <option value="Geen">Geen middelen</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-dark">Wijzig lokaal</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>






        <script src="~/js/site.js" |></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>




