@model IEnumerable<Gip.Models.Planner>
<Gip.Models.Planner>
    @{
        ViewData["Title"] = "index";
    }

    <h1>
        Overzicht van de planning van deze week
        <script>document.write(new Date().toLocaleDateString());</script>
    </h1>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>Datum</th>
            <th>Start/einde</th>
            <th>Vak</th>
            <th>Lokaal</th>
            <th>Delete</th>
            <th>Edit</th>

        </tr>
        @foreach (var planner in Model) {
            <tr>
                <td>@planner.Datum.ToString("dd/MM/yyyy")</td>
                <td>@planner.Startmoment.ToString("HH:mm") / @planner.Eindmoment.ToString("HH:mm")</td>
                <td>@planner.Titel</td> 
                <td>@planner.Gebouw.Trim()@planner.Verdiep@planner.Nummer</td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-dark">Edit</button>

                </td>
            </tr>
        }
    </table>

