@model IEnumerable<Gip.Models.Planner>
<Gip.Models.Planner>
    @{
        ViewData["Title"] = "index";
    }
    <h1 id="dateOfWeek"></h1>
    
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>Datum</th>
            <th>Start/einde</th>
            <th>Vak</th>
            <th>Lokaal</th>
            <th>Delete</th>
            <th>Edit</th>

        </tr>
        @foreach (var planner in Model) {
            <tr>
                <td>@planner.Datum.ToString("dd/MM/yyyy")</td>
                <td>@planner.Startmoment.ToString("HH:mm") / @planner.Eindmoment.ToString("HH:mm")</td>
                <td>@planner.Titel</td> 
                <td>@planner.Gebouw.Trim()@planner.Verdiep@planner.Nummer</td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deletePlanning-@planner.Vakcode.Trim()@planner.Datum.ToString().Replace(" ","").Replace("/","").Replace(":","")@planner.Startmoment.ToString().Replace(" ","").Replace("/","").Replace(":","")@planner.Gebouw.Trim()@planner.Verdiep@planner.Nummer.Trim()">Delete</button>
                    <div class="modal fade" id="deletePlanning-@planner.Vakcode.Trim()@planner.Datum.ToString().Replace(" ","").Replace("/","").Replace(":","")@planner.Startmoment.ToString().Replace(" ","").Replace("/","").Replace(":","")@planner.Gebouw.Trim()@planner.Verdiep@planner.Nummer.Trim()" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Het lesmoment van de planning verwijderen?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/planner/delete" method="post">
                                        <div>
                                            <input type="text" name="vakcode" style="display: none" value="@planner.Vakcode">
                                            <input type="text" name="datum" style="display: none" value="@planner.Datum">
                                            <input type="text" name="startMoment" style="display: none" value="@planner.Startmoment">
                                            <input type="text" name="gebouw" style="display: none" value="@planner.Gebouw">
                                            <input type="text" name="verdiep" style="display: none" value="@planner.Verdiep">
                                            <input type="text" name="nummer" style="display: none" value="@planner.Nummer">
                                        </div>
                                        Ben je zeker dat je het lesmoment op @planner.Datum.ToString("dd/MM/yyyy") over het vak @planner.Titel met startmoment @planner.Startmoment.ToString("HH:mm") wilt verwijderen?
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-sm btn-danger">Verwijder lesmoment van de planning</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#editPlanning">Edit</button>
                    <div class="modal fade" id="editPlanning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Planning wijzigen?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/planning/edit" method="post">
                                        <div>
                                        </div>
                                        <div class="form-group">
                                        </div>
                                        <button type="submit" class="btn btn-dark">Wijzig planning</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>

