@model Gip.Models.CourseMoment

@{
    ViewData["Title"] = "ViewTopi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewTopi</h1>

<div>
    <h4>CourseMoment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessenLijst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessenLijst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Gebouw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VakcodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VakcodeNavigation.Vakcode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
